{% extends 'base.html.twig' %}

{% block body_id 'donations' %}

{% block main %}
    {% include "common/separateBanner.html.twig" with {
        className: "sectionRed",
        mainTitle: "donations.title" | trans,
        content: "donations.subtitle" | trans,
        image_url: "build/img/donations/IMAGE.png",
    } only %}
    {% include "common/partnerBanner.html.twig" with {
        partners : [
            {
                logo_url: "build/img/donations/UTIP.png",
                logo_alt: "Utip",
                url: "https://utip.io/gameher",
            },
            {
                logo_url: "build/img/donations/TIPEEE.png",
                logo_alt: "Tipeee",
                url: "https://fr.tipeee.com/gameher",
            },
            {
                logo_url: "build/img/donations/PAYPAL.png",
                logo_alt: "Paypal",
                url: "https://www.paypal.me/gameheroff",
            },
            {
                logo_url: "build/img/donations/TWITCH.png",
                logo_alt: "Twitch",
                url: "https://www.tipeeestream.com/gamehertv/tip",
            }
        ]
    } only %}
    <section style="border-bottom: 3px solid var(--gh-blue);">
        <div class="container">
            <h2 class="primary">Pourquoi et comment nous soutenir ?</h2>
            <p>Intently stare at the same spot destroy the blinds. Fight an alligator and win humans,humans, humans oh how much they love us felines we are the center of attention they feed, they clean but attack the child bird bird bird bird bird bird human why take bird out i could have eaten that or sit in window and stare oooh, a bird, yum or hunt by meowing loudly at 5am next to human slave food dispenser. Cats are fats i like to pets them they like to meow back taco cat backwards spells taco cat and bite off human's toes throw down all the stuff in the kitchen or chase dog then run away curl up and sleep on the freshly laundered towels. I want to go outside let me go outside nevermind inside is better nap all day push your water glass on the floor i’m so hungry i’m so hungry but ew not for that throw down all the stuff in the kitchen, why must they do that. Rub whiskers on bare skin act innocent meow meow, i tell my human. Side-eyes your "jerk" other hand while being petted bleghbleghvomit my furball really tie the room together, yet behind the couch, yet try to jump onto window and fall while scratching at wall. Have a lot of grump in yourself because you can't forget to be grumpy and not be like king grumpy cat wake up human for food at 4am, cough hack up furballs. Cats go for world domination when owners are asleep, cry for no apparent reason nya nya nyan eat and than sleep on your face lick left leg for ninety minutes, still dirty for take a big fluffing crap 💩. Bring your owner a dead bird always hungry do i like standing on litter cuz i sits when i have spaces, my cat buddies have no litter i live in luxury cat life so always ensure to lay down in such a manner that tail can lightly brush human's nose , or lick yarn hanging out of own butt, yet i bet my nine lives on you-oooo-ooo-hooo. Poop in litter box, scratch the walls give me attention or face the wrath of my claws or refuse to leave cardboard box so sitting in a box stare at guinea pigs. Love and coo around boyfriend who purrs and makes the perfect moonlight eyes so i can purr and swat the glittery gleaming yarn to him (the yarn is from a $125 sweater) human clearly uses close to one life a night no one naps that long so i revive by standing on chestawaken! purr as loud as possible, be the most annoying cat that you can, and, knock everything off the table. Playing with balls of wool claw your carpet in places everyone can see - why hide my amazing artistic clawing skills?. Spill litter box, scratch at owner, destroy all furniture, especially couch stick butt in face, or pose purrfectly to show my beauty and thinking longingly about tuna brine. I will ruin the couch with my claws purr for weigh eight pounds but take up a full-size bed destroy couch as revenge. Paw at beetle and eat it before it gets away burrow under covers, yet miaow then turn around and show you my bum cat meoooow i iz master of hoomaan, not hoomaan master of i, oooh damn dat dog sit on human scratch the postman wake up lick paw wake up owner meow meow. Fooled again thinking the dog likes me plays league of legends or ooh, are those your $250 dollar sandals? lemme use that as my litter box or leave hair everywhere, yet swat at dog, and sometimes switches in french and say "miaou" just because well why not. Kitty time. Is good you understand your place in my world spend all night ensuring people don't sleep sleep all day miaow then turn around and show you my bum munch on tasty moths. Wake up human for food at 4am.</p>
            <h2 class="primary">Nos donateurs !</h2>
            <p>A venir soon !</p>
        </div>
    </section>
{% endblock %}
