{% extends 'base.html.twig' %}

{% block title 'Donations - GameHer' %}
{% block body_id 'donations' %}

{% block main %}
    {% include "common/separateBanner.html.twig" with {
        className: "sectionRed",
        mainTitle: "donations.title" | trans,
        content: "donations.subtitle" | trans,
        image_url: "/build/img/donations/TirelireTaillesite.png",
    } only %}
    {% include "common/partnerBanner.html.twig" with {
        partners : [
            {
                logo_url: "/build/img/donations/UTIP.png",
                logo_alt: "Utip",
                url: "https://utip.io/gameher",
            },
            {
                logo_url: "/build/img/donations/PAYPAL.png",
                logo_alt: "Paypal",
                url: "https://www.paypal.me/gameheroff",
            },
            {
                logo_url: "/build/img/donations/TWITCH.png",
                logo_alt: "Twitch",
                url: "https://www.tipeeestream.com/gamehertv/tip",
            }
        ]
    } only %}
    <section>
        <div class="container">
            <h3 class="text-donation">Pourquoi et comment nous soutenir ?</h3>
            <p>Nous avons pris la décision d'avoir recours aux dons car le développement de nos activités implique des frais que nous ne pouvons couvrir par nos propres moyens actuellement. En effet, l'organisation d'événement, la présence sur des événements IRL ainsi que le financement de nos équipes impliquent des dépenses récurrentes et parfois onéreuses.</p>
            <p>Grâce à vos dons, nous espérons pouvoir améliorer la qualité de notre contenu, organiser plus d'événements sur notre WebTV, et de promouvoir la mixité dans les domaines de l'esport, du jeu vidéo et de l'audiovisuel. Voici pour ce qui est de la partie "online".</p>
            <p>Pour ce qui est de l'aspect IRL, les donateurs nous permettront de nous rendre plus régulièrement à des événements IRL et de participer à un plus grand nombre de LANs dans le but de rencontrer plus régulièrement les personnes qui nous suivent mais également de simplifier la diffusion du message de valorisation de la mixité qui nous tient à cœur.</p>
            <p>La totalité des dons vont dans le fond de caisse de l'association qui les réinvestira pour continuer à produire un contenu qui se veut le plus qualitatif possible.</p>
        </div>
    </section>
	<hr>
{% endblock %}
