{% extends 'base.html.twig' %}

{% block body_id 'index' %}

{% block main %}
<section style="border-bottom: 3px solid var(--gh-blue);">
    <p>Homepage en cours de construction</p>
</section>
    {{ app.user }}
{% endblock %}
