{% extends 'base.html.twig' %}

{% block body_id 'index' %}

{% block main %}
    {% include "common/separateBanner.html.twig" with {
        className: "sectionRed",
        mainTitle: "homepage.title" | trans,
        content: "homepage.subtitle" | trans,
        classNameContent: "withBackgroundImage",
        contentClass: "contentClass",
        classContent: "withMargin",
        image_url: "/build/img/homepage/PHOTOGRAPHIE.png",
    } only %}
    <section id="about" class="about-area">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12 xl6">
                    <div class="about-image clearfix">
                        <div class="single-image float-left">
                            <img src="{{ asset('build/img/homepage/heegi.jpg') }}" alt="About">
                        </div> <!-- single image -->
                        <div class="about-btn">
                            <a class="main-btn" href="{{ path('about') }}"><span>HeeGi</span><br/> Présidente et Co-fondatrice de Game'Her</a>
                        </div>
                    </div> <!-- about image -->
                </div>
                <div class="col s12 m12 l12 xl6">
                    <div class="about-content">
                        <h4 class="about-welcome">Notre mission </h4>
                        <h3 class="about-title">Qu'est-ce que Game'Her ?</h3>
                        <p style="margin-top:25px;"><b>Game’Her est une association créée en août 2017 aspirant à développer un environnement sain pour les joueuses tout en ne les enfermant pas dans un milieu exclusivement féminin.</b>
                            <br> <br>
                            Le but étant de s’ouvrir à la mixité et de démocratiser la place de la femme, selon nous reléguée en arrière-plan, dans l’univers du jeu vidéo. Nous sommes une équipe de passionnés, motivés par le jeu vidéo sous tous ses aspects rêvant de voir s’épanouir la notion de mixité et diversité au sein de ce milieu.</p>
                        <br> <br><p><em>" Game’Her pourra apporter une touche de fraîcheur et de tolérance dans la communauté du gaming. "</em></p>
                        <a class="main-btn" href="{{ path('about')}}">En savoir plus</a>
                    </div> <!-- about content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    {% include "common/dataList.html.twig" with {
        element_class: "sectionBlue",
        explanation: "recruitment.explanation" | trans,
        title_pole: "recruitment.titlePole" | trans,
        elements : [
            {
                logo_url: "/build/img/recrutement/PICTO_ESPORT.png",
                title: "Pôle Esport",
                title_class: "esportTitle",
                content: "Nous encadrons deux équipes 100% mixtes sur le jeu League of Legends. Nous véhiculons notre message de mixité au travers de notre présence en LAN.",
            },
            {
                logo_url: "/build/img/recrutement/PICTO_COMMUCATION.png",
                title: "Pôle Communication",
                title_class: "communicationTitle",
                content: "Développement de la stratégie de communication dans l'optique de développer la visibilité de l'association sur les réseaux sociaux, au quotidien lors de nos événements ou de ceux auxquels nous participons.",
            },
            {
                logo_url: "/build/img/recrutement/PICTO_TWITCH.png",
                title: "Pôle Streaming",
                title_class: "streamingTitle",
                content: "Via la plateforme Twitch, nos streamers et casters proposent des lives sur divers jeux afin de diveritr notre communauté et de créer de l'interaction avec l'ensemble de la communauté.",
            },
            {
                logo_url: "/build/img/recrutement/PICTO_TOURNOIS.png",
                title: "Pôle Tournois",
                title_class: "tournoiTitle",
                content: "Mise en place de tournois au nom de l'association afin de permettre aux joueurs et joueuses d'appréhender le milieu et de s'insérer dans l'esport au travers d'un environnement sain.",
            },
            {
                logo_url: "/build/img/recrutement/PICTO_GRAPHISME.png",
                title: "Pôle Graphisme",
                title_class: "graphismeTitle",
                content: "Nos graphistes produisent tous les visuels nécessaires à Game'Her pour sa communication, sa présence en ligne, ses événements, ses relations partenariales, ...",
            },
            {
                logo_url: "/build/img/recrutement/PICTO_PRESSE.png",
                title: "Pôle Presse",
                title_class: "presseTitle",
                content: "Nos rédacteurs et éditeurs réalisent des articles de presse suivant une ligne éditoriale sur les thèmes de l'esport, du jeu vidéo et de la mixité dans ces secteurs.",
            }
        ]
    } only %}
{% endblock %}
