{% extends 'base.html.twig' %}

{% block title 'Mentions légales - GameHer' %}
{% block body_id 'mentions' %}

{% block main %}
    <section>
        <div class="container">
            <h1 class="primary">Mentions légales</h1>
            <h2>Introduction</h2>
            <p>Le site www.gameher.fr et l'ensemble des activités de la structure « Game'Her » sont gérés par l'association de loi 1901 « Game'Her ».</p>
            <h2>Association Game'Her</h2>
            <p>Siège social : 1 rue Farcot 93400 Saint-Ouen<br/>
                Déclarée à la Préfecture de Saint-Ouen sous le n°W131011770<br/>
                TVA non applicable sur les opérations de l'association selon l'article 293 B du CGI<br/>
                Responsable du contenu du site internet : Noëlie Roux</p>
            <h2>Hébergeur du Site :</h2>
            <h3>DIGITAL OCEAN</h3>
            <p>DigitalOcean, Inc.<br/>
						101 Ave of the Americas 10th Floor<br/>
						New York 10013<br/>
						UNITED STATES</p>
            <h2>Hébergeur de l’Espace Interactif intégré sur le Site :</h2>
            <h3>Twitch</h3>
            <p>San Francisco, Seattle Etats-Unis<br/>
                Contact : http://www.twitch.tv/</p>
        </div>
    </section>
{% endblock %}
