{% extends 'base.html.twig' %}

{% block title 'Politique de confidentialité - GameHer' %}
{% block body_id 'privacy' %}

{% block main %}
    <section>
        <div class="container">
            <h1 class="primary">Politique de confidentialité</h1>
            <h2>Introduction</h2>
            <p>Nous accordons une grande importance au respect de votre vie privée et avons à cœur de construire avec vous des relations fortes et durables. La protection de vos données personnelles est primordiale à nos yeux. C’est pourquoi, nous mettons à votre disposition notre Politique de protection des données afin de vous informer de la façon la plus claire possible des traitements mis en œuvre dans le cadre de l’utilisation des services du site.</p>
            <p>La présente Politique s’applique ainsi à l’ensemble des services proposés sur le site Internet <a href="https://www.gameher.fr/">https://www.gameher.fr/</a>.</p>
            <p>Cette politique est soumise à la <a href="https://www.cnil.fr/fr/la-loi-informatique-et-libertes">loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés modifiée en 2004</a> (ci-après « loi Informatique et Libertés ») ainsi qu’au <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/?uri=CELEX%3A32016R0679">Règlement européen relatif à la protection des données personnelles du 27 avril 2016</a>.</p>
            <h2>Définitions</h2>
            <p>« Responsable de traitement » Désigne la personne qui détermine les finalités et les moyens du traitement de données à caractère personnel.</p>
            <p>« Données à caractère personnel » (ci-après « données personnelles ») Information qui permet de vous reconnaître en tant que personne. Votre nom de famille est une donnée personnelle. Votre numéro de téléphone, votre email, votre adresse IP sont des données personnelles.</p>
            <p>« Traitement de données à caractère personnel » Opération ou ensemble d’opérations appliquées à des données personnelles (collecte, enregistrement, conservation, consultation etc.)</p>
            <h2>Qui collecte les données personnelles ?</h2>
            <p>Gameher.fr est responsable de l’ensemble des traitements de données à caractère personnel effectuées sur le site <a href="https://www.gameher.fr/">https://www.gameher.fr/</a>.</p>
            <h2>Quelles sont les finalités de la collecte de vos données personnelles ?</h2>
            <p>Gameher.fr s’engage à collecter, traiter ou conserver vos données personnelles pour des finalités déterminées, légitimes et pertinentes.</p>
            <p>A l’exception des opérations de prospection commerciale, Gameher.fr considère que l’ensemble des traitements sont nécessaire à l’exécution du contrat passé entre un Client et Gameher.fr (intérêt légitime).</p>
            <p>Vous avez la faculté de retirer ce consentement à tout moment directement en cliquant sur le lien de désabonnement présent sur chacun des mails reçus ou en nous contactant.</p>
            <p>Vos données sont collectées uniquement lorsque vous vous inscrivez à la newsletter, ou lorsque vous nous envoyez un mail via les formulaires de contacts pour que nous puissions vous recontacter.</p>
            <h2>Quels sont vos droits et comment les exercer auprès de Gameher.fr ?</h2>
            <p>Conformément à la loi Informatique et Libertés du 6 janvier 1978, vous disposez d’un droit d’accès, de rectification et d’opposition des données vous concernant. Vous pouvez exercer ces droits par e-mail à l'adresse <a href="mailto:contact@gameher.fr">contact@gameher.fr</a>.</p>
            <p>Gameher.fr adressera une réponse dans un délai légal de 1 mois après la réception de la demande.</p>
            <p>A compter du 25 mai 2018 et en application du règlement 2016/679 du 27 avril 2016, vous pourrez également exercer votre droit à la limitation du traitement, à l’effacement de vos données, à la portabilité des données et à ne pas faire l’objet d’une décision individuelle automatisée.</p>
            <p>Dans un souci de confidentialité et de protection des données personnelles, une copie d’un titre d’identité signé devra être intégrée à la demande.</p>
            <p>En cas de réponse non satisfaisante, vous avez la possibilité de saisir la CNIL.</p>
            <h2>Qui sont les destinataires de vos données ?</h2>
            <p>Vos données ne sont ni données, ni vendues, ni échangées avec aucun tier.</p>
            <h2>Comment Gameher.fr protège vos données ?</h2>
            <p>Gameher.fr prend diverses mesures pour assurer la sécurité de vos données contre la perte, l'utilisation abusive, l'accès non autorisé, la divulgation, la modification ou la destruction. En particulier :<ul><li>L’accès aux bases de données est strictement réservé aux personnes habilitées à en prendre connaissance dans le cadre de leurs missions ;</li><li>Conformément à la loi Informatique et Libertés du 6 janvier 1978 et au Règlement européen, Gameher.fr s’est assuré que les sous-traitants s’engagent à respecter la sécurité et la confidentialité des données ;</li></ul></p>
            <h2>Modification</h2>
            <p>Gameher.fr se réserve le droit de modifier à tout moment cette Politique de protection des données. En cas de modification substantielle telle que l’introduction d’une nouvelle finalité, Gameher.fr vous fournira au préalable des informations au sujet de cette autre finalité. Ceci afin de s’assurer que vous disposez d'un délai raisonnable pour exercer vos droits en vertu de la loi Informatique et Libertés du 6 janvier 1978 et du Règlement européen.</p>
            <p>Nous vous encourageons néanmoins à consulter régulièrement la Politique afin de prendre connaissance des modalités de protection de vos informations personnelles prévues par Gameher.fr.</p>
            <h2>Contact</h2>
            <p>Pour toute question relative à notre Politique, vous pouvez nous contacter directement en vous adressant à contact@gameher.fr</p>
        </div>
    </section>
{% endblock %}
