{% extends 'base.html.twig' %}

{% block body_id 'index' %}

{% form_theme form 'themes/materialcss.form.twig' %}

{% block main %}
    <div class="col">
        <div class="container">
        <h3 class="header">{{ 'menu.user'|trans }}</h3>
        <h5 class="caption">{{ app.user.discord }}</h5>
        <div class="divider"></div>
        <div class="col s6 m6">
            {{ form(form,  { 'attr' : { 'class': 'col s12' }}) }}
        </div>
        </div>
    </div>
{% endblock %}
