{% extends 'admin/admin.html.twig' %}

{% block content %}

    <h1>{{ streamer.name }}</h1>

    {{ form(form) }}

{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('admin_streamers_index') }}" class="btn btn-lg btn-block btn-danger">
            <i class="fa fa-return" aria-hidden="true"></i> Back
        </a>
    </div>

    {{ parent() }}
{% endblock %}
