{% spaceless %}
	<section class="partnerFooter">
		<div class="container">
			<div class="row">
				{% for partner in partners %}
					<div class="col s6 m4 l3 partnerFooter__partner" >
						<a href="{{ partner.website ? partner.website : path('partners') }}" class="partnerFooter__link">
							<img src="{{ asset('/uploads/partners/' ~ partner.logo) }}" class="partnerFooter__image" alt="{{ partner.name }}" />
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endspaceless %}
