{% extends 'base.html.twig' %}

{% block title 'Contact - GameHer' %}
{% block body_id 'contact' %}

{% block main %}
	<section class="container contact">
		<div class="row">
			<div class="col s12 l6 contact__leftPanel">
				<h1 class="contact__title">{{ 'contact.title' |trans }}</h1>
				<ul class="contact__links">
					<li><i class="fa fa-fw fa-edit"></i> contact@gameher.fr</li>
					<li><i class="fa fa-fw fa-bookmark"></i> esport@gameher.fr</li>
					<li><i class="fa fa-fw fa-fire"></i> partenariat@gameher.fr</li>
					<li><i class="fa fa-fw fa-bell"></i> recrutement@gameher.fr</li>
					<li class="contact__socials">
						<a href="//twitter.com/GameHer" title="GameHer Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
						<a href="//facebook.com/GameHer" title="GameHer Facebook"><i class="fab fa-facebook-square" aria-hidden="true"></i></a>
						<a href="#" title="GameHer Youtube"><i class="fab fa-youtube" aria-hidden="true"></i></a>
						<a href="#" title="GameHer Twitch"><i class="fab fa-twitch" aria-hidden="true"></i></a>
						<a href="#" title="GameHer Discord"><i class="fab fa-discord" aria-hidden="true"></i></a>
						<a href="#" title="GameHer Instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
					</li>
				</ul>
			</div>
			<div class="col s12 l6">
				<div class="typeform-widget" data-url="https://form.typeform.com/to/hc6wH8IW?typeform-medium=embed-snippet" style="width: 100%; height: 500px;"></div> 
				<script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
			</div>
		</div>
	</section>
	<hr>
{% endblock %}
