{% extends 'base.html.twig' %}

{% block title 'Contact - GameHer' %}
{% block body_id 'contact' %}

{% block main %}
	<section class="container contact">
		<div class="row">
			<div class="col s12 contact__leftPanel">
				<h1 class="contact__title">{{ 'contact.title' |trans }}</h1>
				<ul class="contact__links">
					<li><i class="fa fa-fw fa-edit"></i> contact@gameher.fr</li>
					<li><i class="fa fa-fw fa-bookmark"></i> esport@gameher.fr</li>
					<li><i class="fa fa-fw fa-fire"></i> partenariat@gameher.fr</li>
					<li><i class="fa fa-fw fa-bell"></i> recrutement@gameher.fr</li>
					<li class="contact__socials">
						<a href="//twitter.com/GameHer" title="GameHer Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
						<a href="//facebook.com/GameHer" title="GameHer Facebook"><i class="fab fa-facebook-square" aria-hidden="true"></i></a>
						<a href="//youtube.com/channel/UCEpAdXm_wIiYXJ5wueVQIcg/featured" title="GameHer Youtube"><i class="fab fa-youtube" aria-hidden="true"></i></a>
						<a href="//twitch.tv/gamehertv" title="GameHer Twitch"><i class="fab fa-twitch" aria-hidden="true"></i></a>
						<a href="//discordapp.com/invite/vKpbwh6" title="GameHer Discord"><i class="fab fa-discord" aria-hidden="true"></i></a>
						<a href="//instagram.com/gameheroff/" title="GameHer Instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
						<a href="//bsky.app/profile/gameher.bsky.social" title="GameHer Bluesky">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-w-14">
                                <path d="M111.8 62.2C170.2 105.9 233 194.7 256 242.4c23-47.6 85.8-136.4 144.2-180.2c42.1-31.6 110.3-56 110.3 21.8c0 15.5-8.9 130.5-14.1 149.2C478.2 298 412 314.6 353.1 304.5c102.9 17.5 129.1 75.5 72.5 133.5c-107.4 110.2-154.3-27.6-166.3-62.9l0 0c-1.7-4.9-2.6-7.8-3.3-7.8s-1.6 3-3.3 7.8l0 0c-12 35.3-59 173.1-166.3 62.9c-56.5-58-30.4-116 72.5-133.5C100 314.6 33.8 298 15.7 233.1C10.4 214.4 1.5 99.4 1.5 83.9c0-77.8 68.2-53.4 110.3-21.8z"></path>
                            </svg>
                        </a>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<hr>
{% endblock %}
