{% extends 'base.html.twig' %}

{% block title 'Nous rejoindre - GameHer' %}
{% block body_id 'recruitment' %}

{% block main %}
    {% include "common/separateBanner.html.twig" with {
        className: "sectionRed",
        mainTitle: "recruitment.title" | trans,
        content: "recruitment.subtitle" | trans,
        image_url: "/build/img/recrutement/PHOTOGRAPHIE.png",
    } only %}
    {% include "common/dataList.html.twig" with {
        element_class: "sectionBlue",
        title_pole: "recruitment.titlePole" | trans,
        explanation: "recruitment.explanation" | trans,
         elements : [
            {
                logo_url: "/build/img/recrutement/PICTO_ESPORT.png",
                title: "Esport",
                title_class: "esportTitle",
                content: "Nous organisons des tournois mixtes sur différents jeux (League Of Legends, Hearthstone…).",
            },
            {
                logo_url: "/build/img/recrutement/PICTO_COMMUCATION.png",
                title: "Communication",
                title_class: "communicationTitle",
                content: "Nous développons des stratégies de communication afin de rendre l’association et nos actions plus visibles. Nous réalisons également des campagnes de sensibilisation et d’information via les réseaux sociaux.",
            },
            {
                logo_url: "/build/img/recrutement/PICTO_TWITCH.png",
                title: "Streaming",
                title_class: "streamingTitle",
                content: "Sur Twitch, nous diffusons des lives jeux et des émissions sur la diversité, afin de sensibiliser et de divertir notre communauté.",
            },
            {
                logo_url: "/build/img/recrutement/PICTO_TOURNOIS.png",
                title: "Événements",
                title_class: "tournoiTitle",
                content: "Nous organisons et participons à différents événements : conférences, tables rondes, festivals… Notre objectif est de sensibiliser le grand public aux valeurs de mixité et de diversité dans les jeux vidéo.",
            },
            {
                logo_url: "/build/img/recrutement/PICTO_GRAPHISME.png",
                title: "Graphisme",
                title_class: "graphismeTitle",
                content: "Nos graphistes réalisent tous les visuels liés à l’image de Game’Her et à nos actions : communication, événements, site internet, partenariats…",
            },
            {
                logo_url: "/build/img/recrutement/PICTO_PRESSE.png",
                title: "Presse",
                title_class: "presseTitle",
                content: "Nos rédactrices et rédacteurs rédigent des articles sur les thèmes de l'esport, des jeux vidéo ainsi que de la diversité dans ces secteurs.",
            }
        ]
    } only %}
    <section class="container contact">
        <div class="row">
            <div class="col s12 l6 contact__leftPanel">
                <h1 class="contact__title">Devenir bénévole</h1>
                <p>Vous êtes sensibles aux valeurs de diversité et d’inclusion dans les jeux vidéo et l’esport ? Vous désirez vous engager dans un projet qui vous tient à cœur ? N’attendez plus et rejoignez-nous !</p>
                <p>Pour devenir bénévole, il vous suffit d’envoyer un mail de motivation à l’adresse suivante : <a href="mailto:recrutement@gameher.fr">recrutement@gameher.fr</a></p>
            </div>
        </div>
    </section>
	<hr>
{% endblock %}
