{% extends 'layouts/base.html.twig' %}
{% trans_default_domain 'admin' %}

{% block body_id 'admin' %}

{% block main %}
 <p>Test</p>
 {% if is_granted('ROLE_ADMIN') %}
	 <div class="col">
		 <a href="{{ path('admin_partners_index') }}">Partenaires</a>
	 </div>
	 <div class="col col-6">
		 <a href="{{ path('admin_members_index') }}">Membres</a>
	 </div>
	 <div class="col col-6">
		 <a href="{{ path('admin_roles_index') }}">Roles</a>
	 </div>
 {% endif %}
 {% if is_granted('ROLE_REDACTEUR') %}
 <a href="{{ path('admin_posts_index') }}">Articles</a>
 {% endif %}
{% endblock %}
