body {
	background-color: #eee;
}
main {
	padding-left: 300px;
}

.logo {
	padding: 2rem 0;
}

.logo a {
	text-align: center;
}

.logo img {
	max-height: 100%;
}

.sidenav {
	display: flex;
	flex-direction: column;
	margin-top: 0;
	padding-bottom: 0;
	height: 100%;
}

.sidenav .nav-link {
	display: flex;
	align-items: center;
}

.sidenav .nav-link svg {
	margin-right: 1rem;
}

.filler {
	flex-grow: 1;
}

#admin_post_show .container {
	background-color: var(--gh-white);
	border: 1px solid #000;
	margin-top: 3rem;
	padding: 2rem 1rem;
}

.post__infos {
	display: flex;
	flex-direction: column;
	p {margin: 0;}
}
.post__author {
	color: var(--gh-gray);
}
.post__tags {
	display: flex;
	flex-wrap: wrap;
	.badge {margin-left: 0;margin-bottom: .25rem;}
	.badge + .badge {margin-left: .25rem;}
}
