.logo {
	padding: 2rem 0;
}

.logo a {
	text-align: center;
}

.logo img {
	max-height: 100%;
}

.sidenav .nav-link {
	display: flex;
	align-items: center;
}

.sidenav .nav-link svg {
	margin-right: 1rem;
}
