@import "component/main.css";
@import "homepage.css";
@import "blog.css";
@import "esport.css";
@import "webtv.css";
@import "tournament.css";
@import "partner.css";
@import "team/recruitment.css";
@import "team/about.css";
@import "team/contact.css";

:root {
	--gh-blue: #001724;
	--gh-white: #fff;
	--gh-red: #c92e4b;
	--gh-pink: #e7677f;
	--gh-orange: #ef900d;
	--gh-yellow: #fbf3ab;
	--gh-gray: #a4a4a4;
}

@font-face {
	font-family: 'headingcompressedpro-extbd';
	src: url('../fonts/headingcompressedpro-extbd-webfont.woff2') format('woff2'),
	url('../fonts/headingcompressedpro-extbd-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FoundationSans-Roman';
	src: url('../fonts/FoundationSans-Roman-webfont.woff2') format('woff2'),
	url('../fonts/FoundationSans-Roman-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: var(--gh-white);
	font-size: 1.2rem;
	font-family: 'FoundationSans-Roman', sans-serif;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
}
.wrapper {
    height: calc(100vh - 3.5rem);
    display: flex;
    flex-direction: column;
}
.body-container {
    flex-grow: 1;
}

h1 {
	font-family: 'headingcompressedpro-extbd', sans-serif;
	font-size: 111px;
}
h2 {
	font-family: "FoundationSans-Roman", sans-serif;
	font-size: 30px;
}
h3 {
	font-family: 'headingcompressedpro-extbd', sans-serif;
	font-size: 28px;
}
h4 {
	font-family: 'FoundationSans-Roman', sans-serif;
	font-size: 2rem;
}
hr {
	border: 0;
	border-bottom: 3px solid var(--gh-blue);
}
a {
	color: inherit;
	transition: color 200ms ease-in;
}

button.btn-show {
	background-color: var(--gh-blue);
	border: 1px solid var(--gh-orange);
	transition: background-color 200ms ease-in-out;
	&:focus, &:active {background-color: inherit;}
	&:hover, &.opened:hover { background-color: var(--gh-orange); }
	&.opened { background-color: var(--gh-orange); &:hover {background-color: #000;}}
}

.sectionBlue {
	background-color: var(--gh-blue);
	color: var(--gh-white);
	margin-top: -35px;
	padding-bottom: 80px;
}
