@import "~normalize.css/normalize.css";
@import "component/main.css";
@import "esport.css";
@import "partner.css";
@import "recruitment.css";
@import "homepage.css";
@import "webtv.css";

:root {
	--gh-blue: #001724;
	--gh-white: #fff;
	--gh-red: #c92e4b;
	--gh-pink: #e7677f;
	--gh-orange: #ef900d;
	--gh-yellow: #fbf3ab;
	--gh-gray: #a4a4a4;
}

@font-face {
	font-family: 'headingcompressedpro-extbd';
	src: url('../fonts/headingcompressedpro-extbd-webfont.woff2') format('woff2'),
	url('../fonts/headingcompressedpro-extbd-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FoundationSans-Roman';
	src: url('../fonts/FoundationSans-Roman-webfont.woff2') format('woff2'),
	url('../fonts/FoundationSans-Roman-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
    background-color: var(--gh-white);
}
img {
	max-width: 100%;
	height: auto;
	display: block;
}
.wrapper {
    height: calc(100vh - 3.5rem);
    display: flex;
    flex-direction: column;
}
.body-container {
    flex-grow: 1;
}
.primary {
    color: var(--gh-red);
}
nav a, nav ul a {
    color: var(--gh-blue);
    font-family: "FoundationSans-Roman", sans-serif;
}
.nav-wrapper {
    border-bottom: 3px solid var(--gh-blue);
	z-index: 1030;
}
h1 {
	font-family: 'headingcompressedpro-extbd', sans-serif;
    font-size: 111px;
}
h2 {
    font-family: "FoundationSans-Roman", sans-serif;
    font-size: 30px;
}
h3 {
	font-family: 'headingcompressedpro-extbd', sans-serif;
	font-size: 28px;
}

h4 {
	font-family: 'FoundationSans-Roman', sans-serif;
	font-size: 2rem;
}

@media only screen and (min-width: 601px) {
	nav {height: 5rem;line-height: 5rem;}
}
nav .brand-logo {
	padding: 1rem;
	height: 5rem;
}
nav img {max-height: 3rem;}

.sectionBlue{
	background-color: var(--gh-blue);
	color: var(--gh-white);
	margin-top: -35px;
}
