body {
    background-color: lightgray;
}
.wrapper {
    height: calc(100vh - 3.5rem);
    display: flex;
    flex-direction: column;
}
.body-container {
    flex-grow: 1;
}
.body-footer {
    background-color: darkgray;
}