.news {
	align-items: center;
	margin: 6rem 0 6rem;
	@media (min-width: 601px) { display: flex; }
	@media (max-width: 992px) { font-size: 4rem; }
}
.news__title {
	color: var(--gh-orange);
	text-transform: uppercase;
	margin: 0;
	font-size: 85px;
}
@media (max-width: 992px) {
	.news__title {
		font-size: 4rem
	}
}
.news__subtitle {
	color: var(--gh-blue);
	text-transform: uppercase;
	margin: 0;
	font-size: 20px;
	@media (max-width: 992px) { font-size: 1.5rem; }
}
.news__form {
	display: flex;
	@media (max-width: 600px) {  margin-top: 1rem; }
}
input[type="text"].news__search {
	border: 1px solid var(--gh-orange);
	padding: 0 .5rem;
	&::placeholder {
		text-transform: uppercase;
	}
}

.streamersGH {
	border-bottom: 5px solid var(--gh-blue);
}

.imageWithFooter {
	position: relative;
	font-family: 'headingcompressedpro-extbd', sans-serif;
	margin-bottom: 1.5rem;
	background-color: var(--gh-blue);

	& > img {width: auto; height: 180px; margin: auto;}
	p {margin: 0;line-height: 1;}
	&.--orange .name {color: var(--gh-orange);}
	&.--red .name {color: var(--gh-red);}

	.footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		display: flex;

		.links {
			flex-grow: 1;
			padding: .5rem;

			.tag {
				font-size: 1.6rem;
				color: var(--gh-orange);
				text-transform: uppercase;
			}
			.channel {
				font-size: 1.8rem;
				color: var(--gh-white);
				text-transform: uppercase;
			}
		}
		.fleche {
			margin: auto 0 0;
			transition: all 200ms ease-in-out;
			min-width: 55px;
			max-width: 55px;
			&:hover {filter: saturate(0.5);}
		}
	}
}

.article__row {
	position: relative;
}

.article__header {
	position: relative;
	overflow: hidden;
	max-height: 30rem;
}
.article__entete {
	z-index: 100;
	height: 100%;
	width: 100%;
}
.article__entete2 {
	z-index: -1;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
}
.article__picture {
	position: absolute;
	top: 0;
	min-width: 60%;
	height: 100%;
	right: 0;
	z-index: -2;
}

.article__title {
	width: 65%;
	color: var(--gh-white);
	display: flex;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 10%;
	margin: auto;
	text-transform: uppercase;
	font-size: 30px;
  z-index: 100;
  align-items: center;
}
@media (min-width: 700px) {
	.article__title {
		font-size: 75px;
	}
}
.article__second_title {
	font-family: "headingcompressedpro-extbd", sans-serif;
	color: var(--gh-orange);
	text-transform: uppercase;
	margin-bottom: 1rem;
}
.article__metadata {
	font-family: 'FoundationSans-Roman', sans-serif;
	margin: 0;
	line-height: 1;
	color: var(--gh-gray);
	a {
		color: var(--gh-orange);
		&:hover {text-decoration: underline;}
	}
}
.article__content {
	ul:not(.browser-default)>li{list-style-type: circle !important;}
	float: none !important;
	word-break: break-word;
	h3 {
		font-family: "headingcompressedpro-extbd", sans-serif;
		color: var(--gh-orange);
		text-transform: uppercase;
		font-size: 1.8rem;
	}
	img { margin: auto; height: auto !important; }
	a {color: var(--gh-orange); &:hover{text-decoration: underline; }}
}

.followUs {
	display: flex;
	background-color: var(--gh-orange);
	padding: 6rem 0;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.followUs__title {
	color: var(--gh-white);
	text-transform: uppercase;
	font-size: 4rem;
	margin: 1rem 0 0;
	a {color: #000;}
}
.followUs__subtitle {
	margin: 0;
	color: var(--gh-yellow);
	font-size: 1.8rem;
	text-transform: uppercase;
}

.author {
	margin-bottom: 5rem;
	& + hr {width: 50%;border-color: var(--gh-orange);}
}
.author__picture {
	margin-top: -5rem;
}
.author__name {
	color: #000;
	font-family: "headingcompressedpro-extbd", sans-serif;
	font-size: 2.5rem;
	margin-top: 2rem;
}
.author__description {
	font-size: 1.25rem;
}
.author__nickname {
	color: var(--gh-orange);
	text-transform: uppercase;
	&:hover {text-decoration: underline;}
}
.author__socials a {
	color: #000;
	margin-right: .25rem;
	&:hover {color: var(--gh-orange);}
}

.recommended {
	margin: 5rem auto 4rem;
}
.recommended__title {
	color: #000;
	font-family: "headingcompressedpro-extbd", sans-serif;
	font-size: 2.5rem;
	text-transform: uppercase;
}

.navigation {
	display: flex;
	justify-content: center;
}

ul.pagination {
	border: 1px solid var(--gh-orange);

	li {
		font-family: "headingcompressedpro-extbd", sans-serif;
		border-radius: 0;
		height: auto;
		transition: all 200ms ease-in-out;
		color: var(--gh-orange);
		&:not(:last-of-type) {border-right: 1px solid var(--gh-orange);}

		a {padding: .5rem 1rem; color: inherit;}
		&.active, &:hover {
			color: var(--gh-white);
			background-color: var(--gh-orange);
		}

		&.arrow {
			background-color: var(--gh-orange);
			color: var(--gh-white);
		}
		&.arrow:hover {
			background-color: var(--gh-white);
			color: var(--gh-orange);
		}
	}
}
