.esportToggled {
	display: none;
	margin-top: 2rem;
}

.leagueOflegends, .rocketLeague {
	display: flex;
	background-color: var(--gh-blue);
	background-repeat: no-repeat;
	align-items: center;
	margin: 0;
	padding: 5rem 0;
	border-bottom: 3px solid var(--gh-red);
}
.leagueOflegends {
    background-image: url("../img/esport/leagueoflegends.png");
    background-position: center top;
}
.rocketLeague {
	background-image: url("../img/esport/rocketleague.png");
    background-position: center;
}

.esportTeam__title {
	font-size: 5rem;
	color: var(--gh-orange);
	text-transform: uppercase;
	font-family: "headingcompressedpro-extbd", sans-serif;
	text-align: center;
	@media (min-width: 993px) { text-align: initial; }
}
.esportTeam__trigger {
	margin-bottom: 0;
}
.esportTeam__description {
	color: var(--gh-white);
}

.esportTeam__team {
	text-align: center;
}

.esportTeam__teamName {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-family: 'FoundationSans-Roman', sans-serif;
	margin-bottom: .5rem;
}

.esportPlayer {
	margin-bottom: 3rem;
	p { margin: 0; }
}
.esportPlayer__image {
	height: 20rem;
}
.esportPlayer__name {
	color: var(--gh-white);
	font-size: 2rem;
	font-family: "headingcompressedpro-extbd", sans-serif;
}
.esportPlayer__nickname {
	color: var(--gh-orange);
	text-transform: uppercase;
}
.esportPlayer__role {
	color: var(--gh-orange);
	font-family: 'FoundationSans-Roman', sans-serif;
}
.esportPlayer__social {
	display: flex;
	color: var(--gh-white);
	padding-top: .5rem;
	&:hover {color: var(--gh-orange);}
	a:not(last-of-type) {margin-right: .5rem:}
}
.esportTeam__button.opened .GHshow {display: none;}
.esportTeam__button:not(.opened) .GHhide {display: none;}
