.esportToggled {
	display: none;
	margin-top: 2rem;
}
.leagueTeams {
	display: flex;
	background-image: url("../img/esport/leagueoflegends.png");
	background-position: center top;
	background-color: var(--gh-blue);
	background-repeat: no-repeat;
	align-items: center;
	margin: 0;
	padding: 5rem 0;
	border-bottom: 3px solid var(--gh-red);
}

.leagueTeams__title {
	font-size: 5rem;
	color: var(--gh-orange);
	text-transform: uppercase;
	font-family: "headingcompressedpro-extbd", sans-serif;
	text-align: center;
	@media (min-width: 993px) { text-align: initial; }
}
.leagueTeams__trigger {
	margin-bottom: 0;
}
.leagueTeams__description {
	color: var(--gh-white);
}

.leagueTeams__team {
	text-align: center;
}

.leagueTeams__teamName {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-family: 'FoundationSans-Roman', sans-serif;
	margin-bottom: .5rem;
}

.leaguePlayer {
	margin-bottom: 3rem;
	p { margin: 0; }
}
.leaguePlayer__image {
	height: 20rem;
}
.leaguePlayer__name {
	color: var(--gh-white);
	font-size: 2rem;
	font-family: "headingcompressedpro-extbd", sans-serif;
}
.leaguePlayer__nickname {
	color: var(--gh-orange);
	text-transform: uppercase;
}
.leaguePlayer__role {
	color: var(--gh-orange);
	font-family: 'FoundationSans-Roman', sans-serif;
}
.leaguePlayer__social {
	display: flex;
	justify-content: space-evenly;
	color: var(--gh-white);
	padding-top: .5rem;
	&:hover {color: var(--gh-orange);}
}
.leagueTeams__button.opened .GHshow {display: none;}
.leagueTeams__button:not(.opened) .GHhide {display: none;}
