.homepage__subtitle {
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin: 0;
    font-size: 35px;
    font-family: 'headingcompressedpro-extbd', sans-serif;
}
.homepage__h2 {
	text-transform: uppercase;
	letter-spacing: .2rem;
	margin: 0;
	color: var(--gh-white);
	font-size: 40px;
	font-family: 'headingcompressedpro-extbd', sans-serif;
}

.withMargin {
    margin-left: 0;
    @media (min-width: 769px) {
        margin-left: 150px;
    }
    @media (min-width: 1024px) {
        margin-left: 0;
    }
    @media (min-width: 1280px) {
        margin-left: 250px;
    }
}

.titleHomepage {
    font-family: 'headingcompressedpro-extbd', sans-serif;
    font-size: 45px;
}

.withBackgroundImage {
    background-image: linear-gradient(rgba(201, 46, 75, 0.1), rgba(201, 46, 75, 0.1)),
    url("../img/homepage/MASCOTTE2.png");
    background-position: left;
    background-color: var(--gh-red);
    background-repeat: no-repeat;
    background-size: cover;
}

.esportTitle {
    color: #2BCA63;
}

.communicationTitle {
    color: #C82E4A;
}

.tournoiTitle {
    color: #D5D096;
}

.streamingTitle {
    color: #9C4593;
}

.graphismeTitle {
    color: #C9772E;
}

.presseTitle {
    color: #A1BCEB;
}

header, section {
	display: block;}

@-ms-viewport {
	width: device-width;
}

body {
	-ms-overflow-style: scrollbar;
	overflow-x:hidden;
}

@media screen and (max-width: 480px) {
	html, body {
		min-width: 320px;
	}
}


*, *:before, *:after {
	box-sizing: inherit;
}

/* Image */
.image {
	border: 0;
	display: inline-block;
	position: relative;
}
.image img {
	display: block;
}
.image[data-position] img {
	-moz-object-fit: cover;
	-webkit-object-fit: cover;
	-ms-object-fit: cover;
	object-fit: cover;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.image[data-position="center"] img {
	-moz-object-position: center;
	-webkit-object-position: center;
	-ms-object-position: center;
	object-position: center;
}
.image.main {
	display: block;
	margin: 3rem 0;
	width: 100%;
}
.image.main img {
	width: 100%;
}
.image.main:first-child {
	margin-top: 0;
}
.image.fill {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.image.fill img {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
a.arrow {
	border-bottom: 0;
	display: inline-block;
	height: 4rem;
	position: relative;
	width: 6rem;
}
a.arrow .label {
	display: none;
}
a.arrow:before {
	background-image: url("../img/homepage/fleche.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: '';
	display: inline-block;
	height: 100%;
	position: relative;
	width: 3rem;
}
#wrapper {
	position: relative;
	width: 100vw;
	padding: 0 0 10rem 0;
}

#wrapper:before {
	background-attachment: fixed;
	background-color: #c92e4b;
	background-image: url("../img/homepage/MASCOTTE2.png");
	background-position: -50% 10%;
	background-repeat: repeat-y;
	background-size: 75% auto;
	content: '';
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 50vw;
	z-index: -1;
}

#wrapper section {
	display: grid;
	grid-template-areas: "header content" "footer content";
	grid-template-columns: 50vw 50vw;
	grid-template-rows: 1fr;
}
#wrapper section:first-child {
	margin-top: 0;
}
#wrapper section > header {
	grid-area: header;
	justify-self: end;
	text-align: right;
}
#wrapper section > header h2 {
	margin: 0 0 5rem 0;
}

#wrapper section > .content {
	grid-area: content;
	max-width: 60rem;
	position: relative;
}
#wrapper > section {
	position: relative;
}
#wrapper > section > header:before {
	background: #e7677f;
	content: '';
	display: block;
	margin-top: 1rem;
	position: absolute;
	width: 2px;
}
#wrapper > section > header h1, #wrapper > section > header h2 {
	position: relative;
}
#wrapper > section > header h1:before, #wrapper > section > header h2:before {
	background: #e7677f;
	content: '';
	display: block;
	height: 2px;
	position: absolute;
	top: 1rem;
}
#wrapper > section > header h1:after, #wrapper > section > header h2:after {
	background: #e7677f;
	border-radius: 0.5rem;
	content: '';
	display: block;
	height: 0.5rem;
	position: absolute;
	top: 0.75rem;
	width: 0.5rem;
}
#wrapper > section > header h1 {
	margin-top: -2rem;
}
#wrapper > section > header h1:before {
	top: 3rem;
}
#wrapper > section > header h1:after {
	top: 2.75rem;
}
#wrapper > section.intro {
	align-items: center;
}
#wrapper > section.intro > header {
	padding-top: 4rem;
	width: 100%;
}
#wrapper > section.intro > header > * {
	margin-left: auto;
}
#wrapper > section.intro > header:before {
	left: auto;
}
#wrapper > section.intro > .content {
	height: 100vh;
	max-width: none;
}
#wrapper > section:last-of-type > header:before {
	height: 100%;
}
#wrapper > section:last-of-type > header:after {
	background: #e7677f;
	border-radius: 0.5rem;
	bottom: -1.5rem;
	content: '';
	display: block;
	height: 0.5rem;
	position: absolute;
	width: 0.5rem;
	z-index: 1;
}
#wrapper section {
	margin: 3.5rem 0 0 0;
}
#wrapper section > header {
	padding: 0 10rem 0 5rem;
	width: 35rem;
}
#wrapper section > .content {
	padding: 0 5rem;
}
#wrapper > section > header:before {
	height: calc(100% + 10rem);
	left: calc(50vw - 5rem);
}
#wrapper > section > header h1:before, #wrapper > section > header h2:before {
	right: -5rem;
	width: 2.5rem;
}
#wrapper > section > header h1:after, #wrapper > section > header h2:after {
	right: -2.5rem;
}
#wrapper > section.intro > header > * {
	width: 20rem;
}
#wrapper > section.intro > header:before {
	margin-left: calc(50vw - 10rem);
}
@media screen and (max-width: 1152px) {
	#wrapper > section.intro > header > * {
		width: 100%;
	}
	#wrapper > section.intro > header:before {
		margin-left: 0;
	}
}
#wrapper > section:last-of-type > header:after {
	left: calc(50vw - 5rem - 0.25rem + 1px);
}
@media screen and (max-width: 1280px) {
	#wrapper {
		padding: 0 0 8rem 0;
	}
	#wrapper section {
		margin: 6rem 0 0 0;
	}
	#wrapper section > header {
		padding: 0 8rem 0 4rem;
		width: 33rem;
	}
	#wrapper section > .content {
		padding: 0 4rem;
	}
	#wrapper > section > header:before {
		height: calc(100% + 8rem);
		left: calc(50vw - 4rem);
	}
	#wrapper > section > header h1:before, #wrapper > section > header h2:before {
		right: -4rem;
		width: 2rem;
	}
	#wrapper > section > header h1:after, #wrapper > section > header h2:after {
		right: -2rem;
	}
	#wrapper > section.intro > header > * {
		width: 21rem;
	}
	#wrapper > section.intro > header:before {
		margin-left: calc(50vw - 8rem);
	}
}

@media screen and (max-width: 1280px) and (max-width: 1152px) {
	#wrapper > section.intro > header > * {
		width: 100%;
	}
	#wrapper > section.intro > header:before {
		margin-left: 0;
	}
}

@media screen and (max-width: 1280px) {
	#wrapper > section:last-of-type > header:after {
		left: calc(50vw - 4rem - 0.25rem + 1px);
	}
}
@media screen and (max-width: 1152px) {
	#wrapper {
		padding: 0;
	}
	#wrapper:before {
		display: none;
	}
	#wrapper section {
		grid-template-areas: "header" "content" "footer";
		grid-template-columns: 1fr;
		grid-template-rows: 3fr;
	}
	#wrapper section > header {
		justify-self: start;
		padding: 0;
		text-align: left;
		width: 100%;
	}
	#wrapper section > header ul.actions {
		justify-content: flex-start;
	}
	#wrapper section > .content {
		padding: 0;
		width: 100%;
		overflow-x: hidden;
	}
	#wrapper > section {
		margin: 0;
	}
	#wrapper > section > header {
		background-attachment: fixed;
		background-color: #c92e4b;
		background-image: url("../img/homepage/MASCOTTE2.png");
		background-position: 25% 50%;
		background-repeat: repeat-y;
		background-size: 40rem auto;
	}
	#wrapper > section > header > * {
		max-width: 25rem;
	}
	#wrapper > section > header > :last-child {
		margin-bottom: 0;
	}
	#wrapper > section > header:before {
		display: none;
	}
	#wrapper > section > header h1:before, #wrapper > section > header h2:before {
		display: none;
	}
	#wrapper > section > header h1:after, #wrapper > section > header h2:after {
		display: none;
	}
	#wrapper > section > .content > :last-child {
		margin-bottom: 0;
	}
	#wrapper > section.intro {
		margin-bottom: 0;
	}
	#wrapper > section.intro > header {
		margin-bottom: 0;
	}
	#wrapper > section.intro > header ul.actions {
		display: none;
	}
	#wrapper > section.intro > header > * {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	#wrapper > section.intro > header > ul.actions {
		margin-left: -1rem;
	}
	#wrapper > section.intro > header:before {
		margin-left: 0;
	}
	#wrapper > section:last-of-type > header:after {
		display: none;
	}
	#wrapper section {
		margin: 6rem 0 0 0;
	}
	#wrapper > section {
		margin: 0;
	}
	#wrapper > section > header {
		padding: 4rem 4rem;
	}
	#wrapper > section > .content {
		padding: 4rem 4rem;
	}
	#wrapper > section.intro > header {
		padding: 8rem 4rem 5rem 4rem;
	}
}

@media screen and (max-width: 736px) {
	#wrapper section {
		margin: 3rem 0 0 0;
	}
	#wrapper > section {
		margin: 0;
	}
	#wrapper > section > header {
		padding: 3rem 2rem;
	}
	#wrapper > section > .content {
		padding: 3rem 2rem;
	}
	#wrapper > section.intro > header {
		padding: 5.5rem 2rem 2.5rem 2rem;
	}
}
@media screen and (max-width: 360px) {
	#wrapper section {
		margin: 2.25rem 0 0 0;
	}
	#wrapper > section {
		margin: 0;
	}
	#wrapper > section > header {
		padding: 2.25rem 1.5rem;
	}
	#wrapper > section > .content {
		padding: 2.25rem 1.5rem;
	}
	#wrapper > section.intro > header {
		padding: 4.875rem 1.5rem 1.875rem 1.5rem;
	}
}
#wrapper:before {
	transition: opacity 1s ease;
}
#wrapper > section.intro {
	transition: opacity 1s ease;
	opacity: 1;
}
#wrapper > section.intro > header {
	transition: transform 1s ease;
}
#wrapper > section.intro > .content {
	transition: transform 1s ease;
}
@media screen and (max-width: 1280px) {
	#wrapper > section.intro > header > * {
		transition: transform 1s ease, opacity 1s ease;
	}
}
