.homepage__subtitle {
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin: 0;
    font-size: 35px;
    font-family: 'headingcompressedpro-extbd', sans-serif;
}

.withMargin {
    margin-left: 0;
    @media (min-width: 769px) {
        margin-left: 150px;
    }
    @media (min-width: 1024px) {
        margin-left: 0;
    }
    @media (min-width: 1280px) {
        margin-left: 250px;
    }
}

.titleHomepage {
    font-family: 'headingcompressedpro-extbd', sans-serif;
    font-size: 45px;
}

.withBackgroundImage {
    background-image: linear-gradient(rgba(201, 46, 75, 0.1), rgba(201, 46, 75, 0.1)),
    url("../img/homepage/MASCOTTE.png");
    background-position: left;
    background-color: var(--gh-red);
    background-repeat: no-repeat;
    background-size: cover;
}

.esportTitle {
    color: #2BCA63;
}

.communicationTitle {
    color: #C82E4A;
}

.tournoiTitle {
    color: #D5D096;
}

.streamingTitle {
    color: #9C4593;
}

.graphismeTitle {
    color: #C9772E;
}

.presseTitle {
    color: #A1BCEB;
}

.bg_cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

/*===== All Button Style =====*/
.main-btn {
    margin-top: 25px;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #EB3656;
    padding: 0 30px;
    font-size: 16px;
    line-height: 48px;
    color: #fff;
    cursor: pointer;
    z-index: 5;
    transition: all 0.4s ease-out 0s;
    background-color: #EB3656;
    box-shadow: 0 5px 16px 0 rgba(235, 54, 86, 0.65);
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;

    i { margin-right: 5px; }
    &:hover {
        background-color: var(--gh-white);
        color: var(--gh-red);
        border-color: var(--gh-red);
    }
    &.main-btn-2 {
        background-color: var(--gh-white);
        color: #EB3656;
        border-color: #EB3656;
        &:hover {
            background-color: var(--gh-red);
            border-color: var(--gh-red);
            color: var(--gh-white);
        }
    }
}
/*===========================
    3.ABOUT css
===========================*/
.about-area {
    padding: 80px 0;
}

.about-image {
    position: relative;
}

.about-content .about-welcome {
    font-size: 24px;
    margin: 0;
    color: var(--gh-red);
    text-transform: uppercase;
}

.about-content .about-title {
    font-size: 35px;
    margin-top: 10px;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .about-area {
        padding-top: 30px;
        padding-bottom: 80px;
    }
    .about-content .about-welcome {
        font-size: 18px;
    }
    .about-content .about-title {
        font-size: 26px;
    }
}
