.contentClass {
    text-transform: uppercase;
    margin: -35px;
    font-size: 35px;
    letter-spacing: .2rem;
}
.withMargin {
    margin-left: 150px;
}
@media (min-width: 1280px) {
    .withMargin {
        margin-left: 250px;
    }
}
.full-height {
    height:100vh!important;
}
.homepage__title {
    text-transform: uppercase;
    font-size: 35px;
    color:var(--gh-red);
}
@media (max-width: 580px) {
    .homepage__illustration {
        display:none;
    }
    .homepage__picture {
        display:none;
    }
}
.homepage__illustration {
    position: absolute;
}

    .homepage__picture {
        max-width: 27vh;
        margin-top: 250px;
    }
    .homepage__aside {
        top: 66%;
        width: 39%;
        background-color: var(--gh-red);
        color: var(--gh-white);
        font-size: 1rem;
        text-align: justify;
        padding: 1.5rem 1rem;

        position: absolute;
        left: 162px;
    }

@media (min-width: 922px) {
    .homepage__picture {
        max-width: 27vh;
        margin-top: 325px;
    }
    .homepage__aside {
        top: 77%;

    }
}
.contentClass p {
    margin: 0;
    font-size: 60px;
    font-family: 'headingcompressedpro-extbd', sans-serif;
}
.titleHomepage {
    font-family: 'headingcompressedpro-extbd', sans-serif;
    font-size: 45px;
}
.withBackgroundImage {
    background-image:
            linear-gradient(rgba(201,46,75, 0.1), rgba(201,46,75, 0.1)),
            url("../img/homepage/MASCOTTE.png");
    background-position: left;
    background-color: var(--gh-red);
    background-repeat: no-repeat;
    background-size: cover;
}
.esportTitle{
  color: #2BCA63;
}
.communicationTitle{
    color: #C82E4A;
}
.tournoiTitle{
    color: #D5D096;
}
.streamingTitle{
    color: #9C4593;
}
.graphismeTitle{
    color: #C9772E;
}
.presseTitle{
    color: #A1BCEB;
}
