.gameherLeague {
	background-image: url("../img/tournaments/background-logo.png");
	background-position: center top;
	background-color: var(--gh-blue);
	background-size: cover;
	border-bottom: 5px solid var(--gh-red);
	padding: 5rem 0;
}

.gameherLeague__row {
	display: flex;
}

.gameherLeague__title {
	font-size: 5rem;
	margin: 0;
	color: var(--gh-white);
	text-transform: uppercase;
	font-family: "headingcompressedpro-extbd", sans-serif;
}

.gameherLeague__trigger {
	display: flex;
	align-items: center;
	justify-content: center;
}

.gameherLeague__infography {
	display: none;
	margin-top: 5rem;
	.row:not(:last-of-type) { margin-bottom: 4rem; }
}

.gameherLeague__introduction {
	color: var(--gh-orange);
	img { margin: auto; }
}

.gameherLeague__stats {
	@media only screen and (min-width: 993px) { display: flex; }
}
.col.gameherLeague__kpi {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 0 2rem;
	img {height: 300px;}
}
.col.gameherLeague__kpi2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 4rem;
	img { width: 50%; padding: 0 2rem; }

	@media only screen and (min-width: 993px) {
		flex-direction: column;
		margin-top: 0;
		padding: 0 2rem;
		img { width: auto; padding: 0; }
	}
}
