.textBanner {
	text-align: center;
	padding: 3rem 0;
	&.--red {
		background-color: var(--gh-red);
		.textBanner__subtitle {color: var(--gh-blue);}
	}
	&.--blue {
		background-color: var(--gh-blue);
		.textBanner__subtitle {color: var(--gh-white);}
	}
}

.textBanner__title {
	font-family: 'headingcompressedpro-extbd', sans-serif;
	font-size: 4rem;
	color: var(--gh-white);
	text-transform: uppercase;
	@media (min-width: 601px) { font-size: 5rem; }
	@media (min-width: 993px) { font-size: 6rem; }
	@media (min-width: 1024px) { font-size: 8rem; }
}

.textBanner__subtitle {
	text-transform: uppercase;
	a {color: var(--gh-yellow);}
}

.streamPanels {
	padding: 4rem 0;
	background-color: #0f0e11;
	img { margin: 1rem auto; }
	a { display: block; margin: 1rem 0; }
}

.twitchExtension .row {
	@media (min-width: 993px) { display: flex; }
}

.twitchExtension, .streamersGH {
	margin: 4rem 0;
}

.streamersGH {
	border-bottom: 5px solid var(--gh-blue);
}
