.numbersBanner {
	display: flex;
	background-color: var(--gh-red);
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: var(--gh-white);
	padding: 6rem 0 6rem;
	min-height: calc(100vh - 5rem);

	hr { margin: 2rem 0;border-width:1px;border-color: #e6687e; }
}

.numbersBanner__title {
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 4rem;
	font-size: 8rem;
}

.numbersBanner__arrow {
	display: flex;
	justify-content: center;
	margin-top: 6rem;
}

.numbersBanner__cell {
	font-family: "headingcompressedpro-extbd", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.numbersBanner__number {
	font-size: 5rem;
}
.numbersBanner__legend {
	font-size: 2rem;
	text-transform: uppercase;
}

.whoAreWe {
	margin: 6rem auto 4rem;
	border-bottom: 3px solid var(--gh-red);
	padding-bottom: 6rem;
}

.whoAreWe__title {
	text-transform: uppercase;
	font-size: 35px;
}
.whoAreWe__illustration {
	position: relative;
}
.whoAreWe__picture {
	margin: 0 auto;
	max-height: 50vh;
}
.whoAreWe__aside {
	position: absolute;
	right: 0;
	top: 10%;
	width: 40%;
	background-color: var(--gh-red);
	color: var(--gh-white);
	font-size: 1rem;
	text-align: left;
	padding: 1.5rem 1rem;
}

.memberToggler {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 2rem;
}

.memberToggle {
	display: block;
	text-align: center;
	font-size: 2rem;
	text-transform: uppercase;
	font-family: "headingcompressedpro-extbd", sans-serif;
	flex: auto;
	color: var(--gh-red);
	cursor: pointer;

	&:not(:last-of-type) { border-right: 1px solid var(--gh-red); }
	&.active {font-size: 4rem;}
}

.membersList {
	display: none;
	&.active {display: flex !important; flex-wrap: wrap; justify-content: center;}
}

.col.gameherMember {
	margin: 0 0 3rem !important;
	display: flex;
  flex-direction: column;
	p { margin: 0 auto; }
}
.gameherMember__image {
	height: 20rem;
	margin: 0 auto;
}
.gameherMember__name {
	font-size: 2rem;
	font-family: "headingcompressedpro-extbd", sans-serif;
}
.gameherMember__nickname {
	color: var(--gh-red);
	text-transform: uppercase;
}
.gameherMember__role {
	color: var(--gh-red);
	font-family: 'FoundationSans-Roman', sans-serif;
}
.gameherMember__social {
	a {color: #000; margin-right: .25rem;}
	padding-top: .5rem;
}
