.sectionBlue {
    background-color: var(--gh-blue);
    color: var(--gh-white);
}
.dataList-wrapper {
    padding: 80px 0;
}
.dataList-title {
    color: var(--gh-yellow);
    text-align: center;
    text-transform: uppercase;
}
.dataList-text {
    text-align: center;
    padding-bottom: 36px;
    margin:0 auto;
}
.dataList-picto {
    width:64px;
    height:64px;
    margin:0 auto;
}
.dataList-description {
	display: none;
	position: absolute;
	background-color: var(--gh-blue);
	z-index: 10;
	padding: 10px;
	border-radius: 10px;
	margin-top: -10px;

	@media (max-width: 1024px) {
        display: block;
		position: relative;
    }
}
.icon-block {
	cursor: pointer;
	position: relative;
}
.icon-block:hover .dataList-description {
	display: block;
}
.dataList-description:hover {
	display: block;
}
.fix-immonde {
    display: flex; flex-wrap: wrap;
}
.add-padding {
    padding: 30px 15px 0 15px !important;
}
