{% set _hasLink = link is defined %}

<div class="page-header page-header--big sectionRed">
    <div class="page-header__wrapper">
        <div class="page-header__content">
            <div class="page-header__content-wrapper">
                {% if mainTitle is defined %}
                <h1 class="page-header__title">{{ mainTitle | raw }}</h1>
                {% endif %}
                <div class="page-header__desc editor-content">
                    <p><span>{{ content | raw }}</span></p>
                </div>
            </div>
        </div>
        <div class="page-header__img-wrapper" style="background-image: url({{ image_url }})">
        </div>

    </div>
</div>
