.message {
	padding: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.message-success {
	background-color: #4CAF50;

	.btn-success {
		background-color: #388E3C;
	}
}
.message-danger {
	color: #ffffffe6;
	background-color: #F44336;

	.btn-danger {
		background-color: #D32F2F;
	}
}
