footer {
	&.page-footer { padding: 0; margin-top: 2rem; background-color: var(--gh-white); }
	h5 { color: var(--gh-red); }
	li { margin: .5rem 0; }
	a {
		color: #000;
		&:hover { text-decoration: underline; }
	}
	img { margin: auto; }
	hr { width: 50%; }
	.footer__socials {
		width: 50%;
		display: flex;
		justify-content: space-between;
		a {
			margin-right: .5rem;
		}
		a:hover { color: var(--gh-gray); }
	}
}

.partnerFooter {
	margin: 2rem 0;
}

.partnerFooter .row {
	display: flex;
	margin: 0;
	flex-wrap: wrap;
}

.row .col.partnerFooter__partner {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 2rem;
	margin: auto;
}

.partnerFooter__link {
	display: block;
}

.partnerFooter__image {
	max-height: 5rem;
	filter: brightness(0.1);
	margin-top: 24px;
}
