footer {
	&.page-footer { background-color: var(--gh-white); }
	h5 { color: var(--gh-red); }
	li { margin: .5rem 0; }
	a {
		color: #000;
		&:hover { text-decoration: underline; }
	}
	img { margin: auto; }
	hr { width: 50%; }
	.footer__socials {
		width: 50%;
		display: flex;
		justify-content: space-between;

		a:hover { color: var(--gh-gray); }
	}
}
