@media (min-width: 601px) {
	nav {height: 5rem;line-height: 5rem;}
}

nav .brand-logo {
	padding: 1rem;
	@media (max-width: 767px) { padding: .5rem; }
}
nav img {max-height: 3rem;}

nav li {
	transition: background-color 200ms ease-in-out;
}

nav a, nav ul a {
	color: var(--gh-blue);
	text-transform: capitalize;
	&.active {color: var(--gh-pink);}
}

.nav-wrapper {
	border-bottom: 3px solid var(--gh-blue);
	background-color: var(--gh-white);
	z-index: 1030;
}

.sidenav {
	margin-top: 5rem;
	@media (max-width: 600px) {
		margin-top: 4rem;
	}
}

nav .dropdown-trigger {cursor: pointer;}
nav .dropdown-trigger i,
nav .dropdown-trigger svg {color: var(--gh-red); }

header .dropdown-content {
	left: 0;
	right: 0;
	margin: auto;
	height: auto;
	width: 100%;
	position: absolute;
	top: 5rem;
	justify-content: flex-end;
	opacity: 1;
	background-color: #dadada;
	display: none;

	li {
		display: inline-block;
		width: auto;
		& > a {color: var(--gh-blue); &:hover, &.active {color: var(--gh-red);}}
	}
}

header li .active + .dropdown-content {
	display: flex;
}
