.partnerBanner {
    padding: 40px 0 30px 0;
    text-align: center;
}

.partnerBanner__image {
	max-width:75%;
	display: inline-block;
	vertical-align: middle;
 }

.partnerBanner__footer {
    max-width:75%;
}

.partnerBanner__table {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     flex-wrap: wrap;
 }

.partnerBanner__col {
     padding: 24px 24px 24px 0;
     margin-top: auto;
     margin-bottom: auto;
}

@media (max-width: 767px) {
  .partnerBanner__col {
      padding: 16px 0 16px 0;
      margin-top: auto;
      margin-bottom: auto;
  }
}
