/*** HEADER BANNIERE DONATION / RECRUTEMENT ***/
.sectionRed {
    background-color: var(--gh-red);
}
.page-header__wrapper {
    display: flex;
    flex-wrap: wrap; }

.page-header__img-wrapper,
.page-header__content {
    width: 100%; }

.page-header__img-wrapper {
    height: 250px;
    min-height: 100%;
    max-height: 700px;
    background-size: cover;
    background-position: center center;
    overflow: hidden; }

.page-header__img {
    display: block;
    max-width: 100%; }

.page-header__content-wrapper {
    padding: 0 20px; }

.page-header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 78px 0 76px 0; }

.page-header__lead,
.page-header__desc {
		text-align: center;
    color: var(--gh-yellow); }

.page-header__lead {
    font-size: 15px;
    font-weight: 600; }

.page-header__title {
    color: var(--gh-white);
    text-transform: uppercase;
    text-align: center;
    margin: 25px 0 0 0; }
@media (min-width: 1024px) {
    .page-header__title {
        margin: 31px 0 0 0; } }

.page-header__desc {
    font-size: 25px;
    margin: 15px 0 0 0;
    line-height: 1.6; }
@media (min-width: 1024px) {
    .page-header__desc {
        margin: 20px 0 0 0; } }

@media (min-width: 450px) {
    .page-header__img-wrapper {
        height: 300px; } }

@media (min-width: 580px) {
    .page-header__img-wrapper {
        height: 380px; } }

@media (min-width: 700px) {
    .page-header__img-wrapper {
        height: 440px; } }

@media (min-width: 850px) {
    .page-header__img-wrapper {
        height: 540px; } }

@media (min-width: 1024px) {
    .page-header__img-wrapper {
        display: block;
        height: 500px; }
    .page-header__img-wrapper,
    .page-header__content {
        width: 50%; }
    .page-header__content {
        padding: 30px; }
    .page-header__content-wrapper {
        max-width: 510px;
        text-align: center; }
    .page-header--big .page-header__img-wrapper {
        height: 700px;
        min-height: 100%;
        max-height: 800px; } }

@media (min-width: 1280px) {
    .page-header__content {
        padding: 70px; } }

@media (min-width: 1720px) {
    .page-header__img-wrapper {
        height: 560px; }
    .page-header--big .page-header__img-wrapper {
        height: 730px;
        min-height: 100%; } }
