/*** HEADER BANNIERE DONATION / RECRUTEMENT ***/
.sectionRed {
    background-color: var(--gh-red);
}
.text-donation {
    position: relative;
    color: var(--gh-red);
    font-size: 25px;
    text-transform: uppercase;
}
.text-donation .icon {
    position: absolute;
    top: 1px;
    display: inline-block;
    height: 25px;
    margin-left: 5px;
}

.donation-container {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    margin-bottom: 80px;
    flex-wrap: wrap;
}

.donation-container .donation-partner {
    margin: 20px 0;
}

.donation-container .donation-partner img {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

@media screen and (max-width: 767px) {
    .donation-container .donation-partner img {
        width: 100px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .donation-container .donation-partner img {
        width: 130px;
    }
}

.page-header__wrapper {
    display: flex;
    height: calc(100vh - 5rem);
    flex-direction: column; }

.page-header__img-wrapper,
.page-header__content {
    flex: 1; }

.page-header__img-wrapper {
    background-size: cover;
    background-position: center center;
    overflow: hidden; }

.page-header__content-wrapper {
    padding: 0 20px; }

.page-header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }

.page-header__lead,
.page-header__desc {
    text-align: center;
    color: var(--gh-yellow);
    font-size: 25px;
    line-height: 1;
    margin: 0; }

.page-header__lead {
    font-size: 15px;
    font-weight: 600; }

.page-header__title {
    color: var(--gh-white);
    text-transform: uppercase;
    text-align: center;
    font-size:85px;
    margin: 0;
}

@media (min-width: 1024px) {
    .page-header__wrapper {
        flex-direction: row; }
    .page-header--big .page-header__img-wrapper {
        height: calc(100vh - 5rem); } }
