/*** HEADER BANNIERE DONATION / RECRUTEMENT ***/
.separateBanner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sectionRed {
    background-color: var(--gh-red);;
}
.separateBanner__picture {
    text-align: left;
    align-self: center;
}
.separateBanner .separateBanner__image {
    max-width: 630px;
    width: 100%;
    max-height: 400px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
.separateBanner__content p, .separateBanner__content li, .separateBanner__content .separateBanner__contentText {
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    font-family: 'FoundationSans-Roman', sans-serif;
    color: var(--gh-white);
    font-weight: 700;
}
.separateBanner__title {
    color: var(--gh-white);
    text-transform: uppercase;
    text-align: center;
}
@media only screen and (min-width: 1200px) {
    .separateBanner .separateBanner__image {
        max-width: 866px;
        width: 100%;
        margin-top: 35px;
        max-height: 550px;
    }
}
@media only screen and (min-width: 992px) {
    .separateBanner {
        flex-direction: row;
    }
    .separateBanner__picture {
        margin: inherit !important;
        display: inline !important;
    }
    .separateBanner .separateBanner__image {
        max-width: 630px;
        width: 100%;
        height:452px;
    }
    .separateBanner__content {
        width: 50%;
        padding-left: 130px;
    }
    .separateBanner .separateBanner__picture {
        width: inherit;
    }
}
@media only screen and (min-width: 768px) {
    .separateBanner {
        flex-direction: row;
    }

    .separateBanner .separateBanner__image {
        max-width: 551px;
        width: 100%;
        max-height: 350px;
    }
    .separateBanner__content {
        margin-top: 35px;
        padding: 0 56px 56px 56px;
    }
    .separateBanner__title {
        margin: 0 0 16px 0;
    }
}
@media only screen and (min-width: 600px) {
    .separateBanner {
        flex-direction: column;
    }
    .separateBanner__picture {
        display:none;
    }
    .separateBanner__content {
        margin-top: 35px;
        padding: 0 56px 56px 56px;
    }
    .separateBanner__title {
        margin: 24px 0 16px 0;
    }
}
@media only screen and (max-width: 600px) {
    .separateBanner {
        flex-direction: column;
    }
    .separateBanner__picture {
        display:none;
    }
    .separateBanner__content {
        margin-top: 35px;
        padding: 0 56px 56px 56px;
    }
    .separateBanner__title {
        margin: 24px 0 16px 0;
    }
}
