/*** HEADER BANNIERE DONATION / RECRUTEMENT ***/
.titleBanner, .titleBannerNoBackground {
	display: flex;
	height: 492px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-bottom: 2px solid var(--gh-red);

	&.--orange {
		background-color: var(--gh-orange);
		.titleBanner__title {color: var(--gh-blue);}
		.titleBanner__subtitle {color: var(--gh-yellow);}
	}
 }
. titleBanner {
	background-color: var(--gh-blue);
}
.titleBanner__title {
	color: var(--gh-white);
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	font-size: 8rem;
}
.titleBanner__subtitle {
	font-family: 'FoundationSans-Roman', sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: var(--gh-orange);
	font-size: 1.5rem;
	line-height: 2.5rem;
	margin-top: 0;
	font-weight: lighter;
}

@media (max-width: 767px) {
	.titleBanner {
		height: 270px;
	}
	.titleBanner__title {
		font-size: 5rem;
	}
	.titleBanner__subtitle {
		font-size: 1.4rem;
	}
}
@media (max-width: 960px) {
	.titleBanner {
		height: 300px;
	}
	.titleBanner__title {
		font-size: 6rem;
	}
	.titleBanner__subtitle {
		font-size: 1.7rem;
	}
}
