{% extends 'admin/admin.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col col-12">
            <h1>{{ post.title }}</h1>
        </div>
        <div class="col col-9">
					{{ post.content |raw }}
        </div>
    </div>

{% endblock %}
